<!-- requires an 'progressOpen' trigger in context -->
<!-- Will also probably need a count of how many people to contact $store.peopleNum -->
<div class="modal" x-show="progressOpen" :class="{'is-active': progressOpen}" x-cloak x-transition>
    <div class="modal-background"></div>
    <div class="modal-content">
      <article class="message">
        <div class="message-header" x-data="{e2ee : '', open: true}">
          <p>Message Progress</p>
          <div class="field has-addons" x-show="open" style="margin: 0 !important;" x-transition>
            <div class="control">
              <input type="text"  class="input" placeholder="E2ee pin" x-model="e2ee">
            </div>
            <div class="control">
              <button class="button is-success" @click="charlesMessage(e2ee); open = false">Start</button>
            </div>
          </div>
         
          <button class="delete" x-show="$store.processComplete ?? false" @click="progressOpen = false"></button>
        </div>
        <div class="message-body">
            <p class="help" id="peepHelper">Loading people...</p>
            <progress class="progress is-primary" id="peeps" :max="$store.peopleNum ? $store.peopleNum : 100" x-ref="peopleProgress" x-init="
            if ($store.personProgress === null) $el.removeAttribute('value')"></progress>
            <p class="help" id="zoneysHelper">Sending message...</p>
            <progress class="progress is-success" id="zoneys">></progress>
        </div>
      </article>
    </div>
  </div>