<!-- requires an 'progressOpen' trigger in context -->
<!-- Will also probably need a count of how many people to contact $store.peopleNum -->
<div id="progressModal" class="modal" x-init="$watch('progressOpen', () => { 
  if (progressOpen) {
    $el.classList.add('modal-open')
  }
})" x-data="{e2ee : ''}">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Charles Message</h3>
      <div class="flex flex-col gap-4 mt-4">
        <!-- Input Field -->
      <div class="w-full flex items-center gap-2 mb-2">
        <input type="text" placeholder="E2ee pin" class="input" style="width: 100%" x-model="e2ee"/>
        <button class="btn btn-square" @click="charlesMessage(e2ee)" :disabled="!$store.process">
          <i class="bi bi-send-fill"></i>        
        </button>
      </div>
        <!-- Progress Bars -->
         <div class="flex flex-col gap-1">
          <p class="text-sm font-serif mb-0 leading-none" id="peepHelper"> Loading people...</p>
          <progress class="progress mb-5" id="peeps" 
              :max="$store.peopleNum ? $store.peopleNum : 100" 
              x-ref="peopleProgress" 
              x-init="if ($store.personProgress === null) $el.removeAttribute('value')">
          </progress>
          <p class="text-sm font-serif leading-none mb-0" id="zoneysHelper">Sending message...</p>
          <progress class="progress mb-5" id="zoneys"></progress>
         </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button @click="progressOpen = false; document.getElementById('progressModal').classList.remove('modal-open')">close</button>
</form>
</div>