<!-- requires an 'smlOpen' trigger in context -->
<div class="modal" x-show="smlOpen" :class="{'is-active': smlOpen}" x-cloak x-transition x-data="{loading: false, getIconClass(area) {
        if (area.includes('🔥')) return 'bi bi-fire';
        if (area.includes('⌛')) return 'bi bi-arrow-through-heart-fill';
        if (area.includes('😱')) return 'bi bi-hourglass';
        return 'bi bi-emoji-frown-fill'; 
},
getIconColor(area) {
    if (area.includes('🔥')) return 'has-text-danger';
        if (area.includes('⌛')) return 'has-text-warning';
        if (area.includes('😱')) return 'has-text-primary';
        return 'bi bi-emoji-frown-fill'; 
}}">
    <div class="modal-background" x-on:click="smlOpen = false"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <strong>
                        SML Report
                    </strong>
                </p>
                <button class="delete" @click="smlOpen = false">
                </button>
            </header>
            <section class="modal-card-body">
                <div class="list">
                    <template x-if="$store.areas?.length <= 0">
                        <div class="skeleton-block">
                            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
  ut fermentum massa justo sit amet risus. Donec sed odio dui.
  Nullam quis risus eget urna mollis ornare vel eu leo.
  Cum sociis natoque penatibus et magnis dis parturient montes,
  nascetur ridiculus mus. Nullam id dolor id
  nibh ultricies vehicula ut id elit.
                        </div>
                    </template>
                    <template x-if="$store.areas?.length > 0" x-for="area in $store.areas">
                        <div class="box media">
                            <div class="media-left">
                                <span class="icon is-large" x-bind:class="getIconColor(area)">
                                    <i x-bind:class="getIconClass(area)"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <p class="title is-6" x-text="area.split(':')[0].replace(/^[^\w]+/, '').trim()"></p>
                                <p class="subtitle is-7" x-text="'Average Contact Time: ' + area.split(':')[1]"></p>
                            </div>
                        </div>
                    </template>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                  <button class="button is-info">Copy text</button>
                  <button class="button" @click="smlOpen = false">Close</button>
                </div>
              </footer>
        </div>

          </div>
        </div>