/* Hide scrollbars but keep scrolling */
html, body {
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

[x-cloak] { display: none !important; }

  